 <div class="form_container" style="margin-top: 30px; -webkit-box-shadow: none; box-shadow: none; width: 500px;">
 	<h3>Edit Collection</h3>
	<%= semantic_form_for(@collection) do |f| %>
	  <% if @collection.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

	      <ul>
	      <% @collection.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	   <% # edit name %>

	   <div class="formField"><%= f.label :name, :class=> "label label-info" %><br />
	        <%= f.text_field :name, :maxlength => 50 %>
	   </div>

	   <% # edit avatar %>
		<div class="formField"><%= f.label :image, :class=>"label label-info" %><br />
        	<% if @collection.image.length > 0%>
           		<%= image_tag(@collection.image_url(:thumb))%>
          	<% else %>
            	<%= image_tag("default_collection.png", :class=>"avatar img-rounded")%>
        	<% end %>
        <br>
        <%= f.file_field :image, :onChange=>"javascript: readURL(this);" %></div>

	    <% # edit description %>

	   <div class="formField"><%= f.label :description, :class=> "label label-info" %><br />
	        <%= f.text_area :description, :maxlength=> 210 %>
	   </div>

	   <% # edit privacy %>

	  <div class="actions" style="position: inherit">
	    <%= f.submit :class=>"btn btn-info" %>
	  </div>
	<% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('form.collection').removeClass('collection');  
})

function readURL(input) {
  // validate that an image was uploaded
  if(!/(\.jpg|\.jpeg|\.png|\.gif)$/i.test(input.value)) {
     alert("Invalid image file type.  Please upload a jpg, png, or gif file.");      
     field = $('#collection_image');
     field.replaceWith(field=field.clone(true));
  }else{
    if (input.files && input.files[0]) {
      $("#img_prev").show();
      $("#img_prev_filename").html('<a id="remove_img"><i class="fa fa-times"></i></a> '+input.files[0].name);
      $("#uploadImageWrapper").hide();
      // $(".collectionTitleFormTitleField").addClass("collectionTitleFormAdjust");
    }
  }
}
</script>