<div class="fullRow" style="width:940px">
    <div class="projectPage">
      
      <% if current_page?(:action=>"index") %>
        <% page_source = "All Collections" %>
      <% elsif current_page?(:action=>"challenges") %>
        <% page_source = "Challenges" %>
      <% end %>

      <div class="projectTitleBar">
        <h3 class="projectHeading">
        <%= page_source %>
        </h3>
          <div id="projectFilter">
            <div class="addCollectionButton">
              <%= link_to 'Create a Collection', new_collection_path, :class=> "btn btn-info"%>
            </div>

            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="expDropdown">
                <%= page_source %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="all_collections"><%= link_to "All Collections", collections_path %></li>
                <li class="challenges"><%= link_to "Challenges", challenges_collections_path %></li>
              </ul>
            </div>
          </div>
      </div>

      <div id = "ExpCollections">
        <%= render :partial => "collections/explore_collection", :collection => @collections, as: :collection  %>
      </div>

      <div class="clear"></div>
      <%= will_paginate @collections, :param_name => 'collections_page', previous_label: h("Previous"), next_label: h("Next"), :page_links=> false %>

      <%= image_tag("loading.gif", :alt => "Loading...", :class => "loadingGIF") %>
    </div>
</div>

<script type="text/javascript">
  $('.loadingGIF').hide();
  // highlight current page in dropdown menu
  $(document).ready(function(){
    if("<%=page_source%>"=="All Collections"){
      $('li.all_collections').css('background-color', "#E0F2FD");
    }else if ("<%=page_source%>"=="Challenges"){
      $('li.challenges').css('background-color', "#E0F2FD");
    }

  });
</script>

