<% title "#{@collection.name}" %>

<div class="fullRow" style="width:940px; margin-top: 20px;">

  <div id="collectionLeft">
    <div class="collectionsTitleSection">
      <%= render :partial => 'collection_title' %>
    </div>
    <hr style="margin: 0;">

    <% if @collection.projects.length > 0 %>
      <div id="collectionActivityFeed">
        <%= render 'collection_people' %>
        <hr style="margin: 10px 0px;">
        <% if @questions.length > 0 %>
          <%= render 'collection_activity' %>
        <% end %>
        </div>
          
    <% end %>

  </div>

  <div id="collectionRight">
    <%# Form for adding a project to the collection %>
    <%= render 'project_form' %>

    <div class="collectionsProjectSection">
      <div id = "projects" >      
        <%= render :partial => "projects/collection_project", :collection => @collection.projects.order("updated_at DESC"), as: :project %>
      </div>

      <% if @collection.projects.count == 0 %>
      <div class="collection_help_text" style="padding: 25px;">
        <p style="color: #449CB6; font-size: 15px;"><b>Add a project to your collection by adding a project URL above!</b></p>
        <p style="color: #636363"><b>Note:</b> Your collection will become public on <%= ENV["APP_NAME"] %> once you name it and add a published project.</p>
      </div>
      <% end %>
    </div>
  </div>

  </div>

  <script type="text/javascript">
    var collection_id = "<%=@collection.id%>";

    $('#collectionRight').css('min-height', $('#collectionLeft').height());

    $(document).ready(function(){
      // highlight added project if a new project was added to the collection
      var project_id = "<%=params[:project_id]%>"
      if(project_id.length >0){
        // console.log('project_id ' + project_id);
        $('#'+project_id).animateHighlight("#CFC", 10000);
      }
      $('.collectionsProjectSection').css('min-height', $('#collectionActivityFeed').height());
      $('#collectionActivityFeed').css('min-height', $('.collectionsProjectSection').height());
    });

      $("#img_prev").hide();

      $('.content').css("height", "100%");

      $('.editCollectionTitleBtn').click(function() {
        $('.collectionsText').hide();
        $('.edit').hide();
        $('#collectionAvatar').hide();
        $('.collectionTitleForm').show();
      });

      $('.project_update_text').hover(function(){
        $(this).fadeTo(400,1.0);
      }, function(){
        $(this).fadeTo(400,0.0);
      });

  </script>
