<div class="fullRow" style="width:940px">
    <div class="projectPage">

      <div class="projectTitleBar projectViewAllTitleBar">
        <div class="projectViewAllAvatar">
          <% if @user.avatar.length > 0 %>
              <%= link_to image_tag(@user.avatar_url(:thumb), :class=>"avatar img-polaroid"), user_path %>
          <% else %>
              <%= link_to image_tag("default_avatar.png", :class=>"avatar img-polaroid"), user_path(@user) %>
          <% end %>
        </div>
        <h3 class="projectViewAllHeading">
          <% if user_signed_in? && current_user == @user %>
            <%= @user.username %>'s Projects (<%=@user.projects.count%>)
          <% else %>
            <%= @user.username %>'s Projects (<%=@user.projects.published.count%>)
          <% end %>
        </h3>
      </div>
      <div class="projectSideArea projectViewAll">
          <div class="userProjects allProjects">

              <% if user_signed_in? && current_user == @user %>
                <% @projects.each_with_index do |project, index| %>
                  <%= render :partial => 'projects/projects', :locals=> {:project => project, :source => "user"} %>
                <% end %>
              <% else %>
                <% @projects.published.each_with_index do |project, index| %>
                  <%= render :partial => 'projects/projects', :locals=> {:project => project, :source => "user"} %>
                <% end %>
              <% end %>

          </div>
      </div>
    </div>
</div>

<script type="text/javascript">

</script>