<div class="fullRow" style="margin-top:60px">
	<div class="fullRow">
		<div class="pwPage">
			<div class="form_container">

				<h3 class="form_heading change_pw">Change your password</h3>

				<%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
				  <%= devise_error_messages! %>
				  <%= f.hidden_field :reset_password_token %>

				  <div class="formField"><%= f.label :password, "New password", :class=>"label label-info" %><br />
				  <%= f.password_field :password, :autofocus => true %></div>

				  <div class="formField"><%= f.label :password_confirmation, "Confirm new password", :class=> "label label-info" %><br />
				  <%= f.password_field :password_confirmation %></div>

				  <div style="margin-top: 10px;"><%= f.submit "Change my password", :class=>"btn btn-info" %></div>
				<% end %>

				<%= render "devise/shared/links" %>
			</div>

		</div>
	</div>
</div>

