<div class="fullRow" style="margin-top:60px">
	<div class="fullRow">
		<div class="pwPage">
		<h2>Change your password</h2>

		<%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>

		  <div class="formField"><%= f.label :password, "New password", :class=>"label" %><br />
		  <%= f.password_field :password, :autofocus => true %></div>

		  <div class="formField"><%= f.label :password_confirmation, "Confirm new password", :class=> "label" %><br />
		  <%= f.password_field :password_confirmation %></div>

		  <div><%= f.submit "Change my password", :class=>"btn btn-primary" %></div>
		<% end %>

		<%= render "devise/shared/links" %>

		</div>
	</div>
</div>

