<% title "News | #{ENV['APP_NAME']}" %>
<div class="fullRow" style="width:940px">

	

		<% website_project = Project.where(:title=>"Build in Progress Website").where(:remix_ancestry => nil).first() %>
		<% mobile_project = Project.where(:title=>"Build in Progress Mobile").where(:remix_ancestry => nil).first() %>


		<div class="centeredContainer newsPage">
			<div class="heading">
				<icon class="fa fa-bullhorn" style="font-size:30px;margin-top: 15px; margin-right:10px;"></icon><h3 style="margin-top: 0px;"><%= ENV["APP_NAME"] %> News</h3>
			</div>

			<% if website_project && mobile_project %>

				<div class="subheading">
					Find all the latest updates to <%= ENV["APP_NAME"] %> right here.  Check out the project pages for the <%= link_to "#{ENV["APP_NAME"]} Website", project_path(website_project), :class=>"project_link" %> and <%= link_to "#{ENV["APP_NAME"]} Mobile", project_path(mobile_project), :class=>"project_link" %> to give feedback!
				</div>

			<% end %>
		</div>


		<% News.order("created_at DESC").each do |news_item| %>
			<% news_item_step = Step.find(news_item.step_id) %>
			<div class="news_item">
				<div class="title"><span id="<%=news_item.id%>"></span><%= link_to news_item.title, project_steps_path(news_item_step.project, :step=>news_item.step_id) %></div>
				<div class="images">
					<% if news_item_step.images.where(:video_id => nil).count > 0 %>
						<%= link_to image_tag(news_item_step.images.where(:video_id => nil).order(:position).first.image_path_url(:preview)), project_steps_path(news_item_step.project, :step=>news_item.step_id)  %>
					<% end %>
				</div>
				<div class="description">
					<%= auto_link(news_item_step.description).html_safe %>
					<%= link_to "Comment", project_steps_path(news_item_step.project, :step=>news_item.step_id), :class=> "news_comment" %>
				</div>
				<div class="clear"></div>
				<div class="created_at"><%= news_item_step.created_at.strftime "%a %b %d at %I:%M %p"%></div>
			</div>
			<div class="clear"></div>
	<% end %>

<script>hljs.initHighlightingOnLoad();</script>

<style>
	pre{
		padding: 0;
	}
</style>