<div class="project_container" id="<%=project.id%>">
	<div class ="project">
		<% #show default image for project overview if the project has an image uploaded %>
		<div class="exploreRibbon-wrapper">
		<% if !project.last_step_with_images.blank? %>
			<% if project.default_image.image_path.present? %>
				<%= link_to image_tag(project.default_image.image_path_url(:preview), :width=>"100%"), project  %>
			<% else %>
				<%= link_to image_tag(project.default_image.s3_filepath, :width=>"100%"), project  %>
			<% end %>
		<% else %>
			<%= link_to(project) do %>
				<div class = "blankImage"></div>
			<% end %>
		<% end %>
		<% if project.built %>
			<div class='exploreRibbon'>built!</div>
		<% end %>

		<% step_with_question = project.step_with_question %>
		<% if step_with_question != "" %>
			<%= link_to project_steps_path(project, :step=>step_with_question) do %>
					<div class="vert-ribbon">
						<div class="container">
							<div class="base">?</div>
							<div class="left_corner"></div>
							<div class="right_corner"></div>
						</div>
					</div>
				<% end %>
		<% end %>

			<div class="projectInfo">
				<div class="exploreComment">
					<icon class="fa fa-comment"></icon>
					<span class="exploreCommentCount"><%=project.comment_count%></span>
				</div>
				<div class="exploreSteps">
					<icon class="fa fa-square"></icon>
					<span class="exploreStepCount"><%=project.steps_count%></span>
				</div>

			</div>
		</div>
		<% if project.steps.order("updated_at").last.present? && project.steps.order("updated_at").last.description.present? %>
			<%= link_to project_steps_path(project, :step => project.steps.order("updated_at").last.id) do %>
				<div class="project_update_text">
					<%= sanitize project.steps.order("updated_at").last.description.first(200).html_safe %>
				</div>
			<% end %>
		<% elsif project.description.present? %>
			<%= link_to project_steps_path(project, :step => project.steps.order("updated_at").last.id) do %>
				<div class="project_update_text">
					<%= project.description.html_safe %>
				</div>
			<% end %>
		<% end %>

		<% if can? :destroy, Collectify.where(:project_id => project.id, :collection_id => @collection.id).first %>

			<div class="delete"> <%=link_to raw('<i class="btn btn-inverse fa fa-times" style="display:block"></i>'), {controller: "collectifies", action: "destroy", :project_id => project.id}, :method => :delete, :data=> {:confirm=>  "Are you sure you want to remove this project from your collection?"} %> </div>

		<% end %>

		<div class="name"><%=link_to project.title, project %> </div>
		<div class="author">by <%= render :partial => "projects/author_byline", :locals => {:project => project, :source=>"collections"} %> </div>
		<% if project.private? %>
			<div class="privacy-icon" style="float: right; margin-right: 10px;">
				<icon class="fa fa-lock"></icon>
			</div>
		<% elsif project.unlisted? || project.privacy.blank? %>
			<div class="privacy-icon" style="float: right; margin-right: 10px;">
				<icon class="fa fa-unlock-alt"></icon>
			</div>
		<% end %>

	</div>
</div>
