<div class ="project">
	<% #show default image for project overview if the project has an image uploaded %>
	<div class="exploreRibbon-wrapper">
	<% if project.images.count > 0 && project.default_image %>
		<% if project.default_image.image_path.blank? %>
			<%= link_to image_tag(project.default_image.s3_filepath, :width=>"100%"), project  %>
		<% else %>
			<%= link_to image_tag(project.default_image.image_path_url(:preview), :width=>"100%"), project  %>
		<% end %>
			
	<% else %>
		<%= link_to(project) do %>
			<div class = "blankImage"></div>
		<% end %>
	<% end %>
	<% if project.built %>
		<div class='exploreRibbon'>built!</div>
	<% end %>

	<% step_with_question = project.step_with_question %>
	<% if step_with_question != "" %>
		<%= link_to project_steps_path(project, :step=>step_with_question) do %>
				<div class="vert-ribbon">
					<div class="container">
						<div class="base">?</div>
						<div class="left_corner"></div>
						<div class="right_corner"></div>
					</div>
				</div>
			<% end %>
	<% end %>

	<div class="projectInfo">
		<div class="exploreFavorite">
			<icon class="fa fa-star"> </icon> <span class="exploreFavoriteCount"><%=project.favorited_by.length%></span>
		</div>
		<div class="exploreComment">
			<icon class="fa fa-comment"></icon>
			<span class="exploreCommentCount"><%=project.comment_count%></span>
		</div>
		<div class="exploreSteps">
			<icon class="fa fa-square"></icon>
			<span class="exploreStepCount"><%=project.steps_count%></span>
		</div>
		<div class="exploreRemix">
			<icon class="fa fa-code-fork"></icon>
				<span class="exploreRemixCount"><%=project.remix_count%></span>
		</div>
	</div>
	

	</div>

	<div class="name"><%=link_to project.title, project %> </div>
	<div class="author">by <%= render :partial => "projects/author_byline", :locals => {:project => project, :source=>"explore"} %> </div>

</div>
