<% if source == "home" %>
	<div class ="latestProject" >
<% else %>
	<div class ="userProject" >
<% end %>

	<div style="max-height: 127px;">
		<% if project.images.count > 0 && !project.default_image.nil? %>
			<% if project.default_image.image_path.blank? %>
				<%= link_to image_tag(project.default_image.s3_filepath, :width=>"100%"), project  %>
			<% else %>
				<%= link_to image_tag(project.default_image.image_path_url(:preview), :width=>"100%"), project  %>
			<% end %>
		<% else %>
			<%= link_to(project) do %>
				<div class = "blankImage"></div>
			<% end%>
		<% end %>
		<% if project.built %>
				<div class='ribbon'>built!</div>
		<% end %>

		<% step_with_question = project.step_with_question %>
		<% if step_with_question != "" %>
			<%= link_to project_steps_path(project, :step=>step_with_question) do %>
				<div class="vert-ribbon" id="<%=project.id%>">
					<div class="container">
						<div class="base">?</div>
						<div class="left_corner"></div>
						<div class="right_corner"></div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class="name"><%=link_to project.title, project, :class=>"name", :title=>project.title %> </div>

	<% if source == "home" || source == "user_favorites"%>
		<div class="authorDate">by <%= render :partial => "projects/author_byline", :locals => {:project => project, :source=>"profile"} %> </div>
	<% else %>
		<div class="userFavorite">
			<icon class="fa fa-star"></icon>
			<span class="count"><%=project.favorited_by.length%></span>
		</div>

		<div class="userComment">
			<icon class="fa fa-comment"></icon>
			<span class="count"><%=project.comment_count%></span>
		</div>

		<div class="userSteps">
			<icon class="fa fa-square"></icon>
			<span class="count"><%=project.steps_count%></span>
		</div>

		<div class="userRemix">
			<icon class="fa fa-code-fork"></icon>
			<span class="count"><%=project.remix_count%></span>
		</div>

	<% if user_signed_in? && project.users.include?(current_user) %>

		<div class="delete"> <%=link_to raw('<i class="btn btn-danger fa fa-trash-o" style="display:block"></i>'), project, :method => :delete, :data=> {:confirm=>  "Are you sure you want to delete this project?"} %> </div>

		<% if project.private? %>
			<div class="privacy-icon">
				<icon class="fa fa-lock"></icon>
			</div>
		<% elsif project.unlisted? || project.privacy.blank? %>
			<div class="privacy-icon">
				<icon class="fa fa-unlock-alt"></icon>
			</div>
		<% end %>

	<% end %>
<% end %>
</div>
