<div class="fullRow" style="width:980px; margin-top: 0px;">
  <div class="projectPage">

      <!--Apply Project Filters-->
      <% if current_page?(:action=>"index") %>
        <% project_filter = "All Projects" %>
      <% elsif current_page?(:action=>"built") %>
        <% project_filter = "Built Projects" %> 
      <% elsif current_page?(:action=>"builds") %>
        <% project_filter = "Builds in Progress" %> 
      <% elsif current_page?(:action=>"featured") %>
        <% project_filter = "Featured Projects" %>
      <% else %>
        <% project_filter = "" %>
      <% end %>

      <!--Apply Project Categories-->
      <% if !params[:category].blank?  %>
        <% project_category = params[:category] %>
      <% else %>
        <% project_category = "" %>
      <% end %>

      <% if project_category %>
        <% title "#{project_category} Projects | #{ENV["APP_NAME"] }" %>
      <% elsif project_filter %>
        <% title "#{project_filter} | #{ENV["APP_NAME"]}" %>
      <% else %>
        <% title "Projects | #{ENV["APP_NAME"]}" %>
      <% end %>

        <div class="projectTitleBar">
          <h3 class="projectHeading">
            <% if project_category.blank? %>
                <%= project_filter %>
            <% else %>
              <%= project_category %> Projects               
            <% end %>
          </h3>

        <% if !project_category.blank? && project_filter != "All Projects" %>
          <div class="filter_label">
            > <%= project_filter %>
          </div>
        <% end %>

        </div>

        <div id="filterBar">
          <b>Filters:</b>

            <div class="explore_category arts_and_crafts">
              <%= link_to raw('<icon class="fa fa-cut icon_arts_and_crafts" style="color:rgb(198, 0, 105);" ></icon>Arts and Crafts'), projects_path(:category => "Arts & Crafts") %>
            </div>
          
            <div class="explore_category clothing">
              <%= link_to(projects_path(:category => "Clothing")) do %>
                <%= image_tag("icons/clothing_icon.png", :class=>"icon_clothing")%>Clothing
              <% end %>
            </div>
            
            <div class="explore_category cooking">
              <%= link_to raw('<icon class="fa fa-cutlery icon_cooking" style="color:rgb(237, 162, 10);"></icon>Cooking'), projects_path(:category=>"Cooking") %>
            </div>

            <div class="explore_category electronics">
              <%= link_to(projects_path(:category => "Electronics")) do %>
                <%=image_tag("icons/electronics_icon.png", :class=>"icon_electronics", :style=>"max-height:20px") %>Electronics
              <% end %>
            </div>
            
            <div class="explore_category mechanical">
              <%= link_to raw('<icon class="fa fa-gears icon_mechanical" style="color:rgb(42, 171, 170);"></icon>Mechanical'), projects_path(:category => "Mechanical")  %>
            </div>
            
            <div class="explore_category other">
              <%= link_to raw('<icon class="fa fa-asterisk icon_other" style="color:rgb(170, 9, 253);"></icon>Other'), projects_path(:category => "Other") %>
            </div>

            <hr>

            <div id="project_type_filters">
              <div class="project_type_link featured">
              <%= link_to "Featured Projects", featured_projects_path(:category => project_category) %>
              </div>
              <div class="project_type_link builds">
              <%= link_to "Works in Progress", builds_projects_path(:category => project_category) %>
              </div>
              <div class="project_type_link built">
              <%= link_to "Built Projects", built_projects_path(:category => project_category) %><br>
              </div>
            </div>

            <% if project_category.present? || project_filter != "All Projects" %>
              <hr>
              <div class="project_type_link">
                <%= link_to(projects_path) do %>
                  <icon class="fa fa-times-circle-o" style="font-size: 20px; margin-right: 10px; color: grey; vertical-align: middle;"></icon><span class="category_tile">Clear Filters</span>
                <% end %>
              </div>
            <% end %>
        </div><%# end filterBar %>

        <div id="ExpProjects">
          <% if @projects.count > 0 %>
            <%= render :partial => "explore_project", :collection => @projects, as: :project  %>
          <% else %>
          <div style="margin-top: 40px; text-align: center;">
            <% if project_category.present? %>
              There are no projects under this category...yet!
            <% else %>
              There are no projects...yet!
            <% end %>
          </div>
          <% end %>
        </div>

        <div class="clear"></div>
        <%= will_paginate @projects.where("title not like ? ", "%Untitled%"), :param_name => 'projects_page', previous_label: h("Previous"), next_label: h("Next"), :page_links=> false %>

        <%= image_tag("loading.gif", :alt => "Loading...", :class => "loadingGIF") %>
    </div>
</div>

<script type="text/javascript">
  var highlight_color = "#E0F2FD";
  // highlight the current page in the dropdown tab
  $(document).ready(function(){
    $('.loadingGIF').hide();

    $('#footer').hide();
    
    // highlight project filters
    if("<%=project_filter%>"=="All Projects"){
      $('.all_projects').css("background-color", highlight_color);
    } else if ("<%=project_filter%>"=="Builds in Progress"){
      $('.builds').css("background-color", highlight_color);
    } else if ("<%=project_filter%>"=="Built Projects"){
      $('.built').css("background-color", highlight_color);
    } else if ("<%=project_filter%>" == "Featured Projects"){
      $('.featured').css("background-color", highlight_color);
    }

    // highlight project categories
    var project_category = "<%=project_category%>";
    console.log(project_category);
    if(project_category.length>0){
      if(project_category.indexOf('Arts')>-1){
        $('.arts_and_crafts').css("background-color", highlight_color);
      }else if(project_category.indexOf('Clothing')>-1){
        $('.clothing').css("background-color", highlight_color);
      }else if(project_category.indexOf('Cooking')>-1){
        $('.cooking').css("background-color", highlight_color);
      }else if(project_category.indexOf('Electronics')>-1){
        $('.electronics').css("background-color", highlight_color);
      }else if(project_category.indexOf('Mechanical')>-1){
        $('.mechanical').css("background-color", highlight_color);
      }else if(project_category.indexOf('Other')>-1){
        $('.other').css("background-color", highlight_color);
      }
    }
  });
</script>