<% # FavoriteProject Create Public Activity %>

<% source = params[:source] %>

<% if FavoriteProject.find_by_id(activity.trackable_id) %>
	<% favorited_project = Project.find_by_id(FavoriteProject.find_by_id(activity.trackable_id).project_id) %>
<% else %>
	<% favorited_project = false %>
<% end %>

<% if favorited_project %>
	<% if source == "navbar" %>
		<%= link_to project_steps_path(favorited_project, :notification_id => activity.id) do %>
			<icon class="fa fa-star"></icon>
			<p class="notification-image">
				<%= render :partial=>"images/navbar_image", :locals=> {:activity => activity} %>
			</p>
			<p class="notification-text">
				<span class="notification-bold"><%= activity.owner.username if activity.owner %></span> favorited <span class="notification-bold"><%= favorited_project.title %> </span>
			</p>
			<br>
			<p class="notification-date" style="display:inline-block"><%= time_ago_in_words(activity.created_at) %> ago</p>
		<% end %>
	<% else %>
		<icon class="fa fa-star"></icon>
		<p class ="notification-image">
			<% if !activity.owner.avatar.blank? %>
				<%= link_to image_tag(activity.owner.avatar_url(:thumb), :class=>"img-polaroid"), project_steps_path(favorited_project, :notification_id => activity.id) %>
			<% else %>
				<%= link_to image_tag("default_avatar.png", :class=>"img-polaroid"), user_path(activity.owner) %>
			<% end %>
		</p>
		<p class="notification-heading">
			<%= link_to activity.owner.username, user_path(activity.owner) if activity.owner %> favorited <%= link_to favorited_project.title, project_steps_path(favorited_project, :notification_id => activity.id) %> 	
		</p>
		<span class="notification-date"><%= time_ago_in_words(activity.created_at) %> ago</span>
	<% end %>
<% end %>
