<% # Add Project to Collection Notification %>

<% source = params[:source] %>

<% if Collectify.find_by_id(activity.trackable_id) %>
	<% added_project = Project.find_by_id(Collectify.find_by_id(activity.trackable_id).project_id) %>
<% else %>
	<% added_project = false %>
<% end %>

<% if Collectify.find_by_id(activity.trackable_id) %>
	<% collection = Collectify.find_by_id(activity.trackable_id).collection %>
<% else %>
	<% collection = false %>
<% end %>

<% if added_project and collection %>
	<% if source == "navbar" %>
		<%= link_to collection_path(collection, :notification_id=>activity.id) do %>
			<icon class="fa fa-folder-open"></icon>
			<p class="notification-image">
				<%= render :partial=>"images/navbar_image", :locals=> {:activity => activity} %>
			</p>
			<p class="notification-text">
				<span class="notification-bold"><%= added_project.title %></span> was added to the collection <span class="notification-bold"><%=collection.name%></span> 
			</p>
			<br>
			<p class="notification-date" style="display:inline-block"><%= time_ago_in_words(activity.created_at) %> ago</p>
		<% end %>

	<% else %>
		<icon class="fa fa-folder-open"></icon>
		<p class ="notification-image">
			<% if activity.owner.avatar.present? %>
				<%= link_to image_tag(activity.owner.avatar_url(:thumb), :class=>"img-rounded"), user_path(activity.owner) %>
			<% else %>
				<%= link_to image_tag("default_avatar.png", :class=>"img-rounded"), user_path(activity.owner) %>
			<% end %>
		</p>
		<p class="notification-heading">
			<%= link_to activity.owner.username, user_path(activity.owner)%> added <%= link_to added_project.title, project_steps_path(added_project) %> to the collection <%= link_to collection.name, collection_path(collection, :notification_id=>activity.id)%>
		</p>
		<span class="notification-date"><%= time_ago_in_words(activity.created_at) %> ago</span>
	<% end %>
<% end %>