<% # draw the unordered list that gets turned into a tree structure using the jquery.jOrgChart.js file %>

<script type="text/javascript">
  // console.log('in draw list 2 ' + newStepParentID);
    // save the original order of the steps in the process map
    function saveOriginalOrder(){
      originalStepOrder = $('#org').clone();
    }
</script>

<% @steps.each_with_index do |currentStep, index| %>
	<% currentStepAncestry = currentStep.ancestry %>

	<script type="text/javascript">
    var lastStepReached = false; // checks whether we're on the last step of a project (as marked by the last attribute)
    var has_question = false; // whether or not the step has an unanswered question
    var is_label = false; // whether the step is a label
    var has_pin = false;
    var pin_type = "";
	</script>

 <% if currentStep.last==true %>
    <script type="text/javascript">
        lastStepReached = true;
    </script>
<% end %>

<% if currentStep.has_unanswered_question? %>
  <script type="text/javascript">
    has_question = true;
  </script>
<% end %>

<% if currentStep.is_label? %>
  <script type="text/javascript">
    is_label = true;
  </script>
<% end %>

<% if currentStep.pin.present? && currentStep.pin != "empty" %>
  <script type="text/javascript">
    has_pin = true;
    pin_type = "<%=currentStep.pin%>";
  </script>
<% end %>

	<% if index == 0 %>
		<script type="text/javascript">
			// console.log("first step");
			$('ul.0').append("<li class= '<%= currentStep.id %>'> <%= currentStep.name %></li>");
		</script>	 

	<% elsif @ancestry[index] == @ancestry[index-1] %>		
    <% if @ancestry[index]!= nil %>
      <% currentStepAncestry = getParent(currentStepAncestry)%>
    <% end %>
			<script type="text/javascript">
          $('ul.'+'<%=currentStepAncestry%>').append("<li class= '<%= currentStep.id %>'> <%= currentStep.name %></li>");
			 </script>
	<% else %>
      <% if @ancestry.index(currentStepAncestry) == index %>
        <% currentStepAncestry = getParent(currentStepAncestry)%>
    		<script type="text/javascript">
          if($('ul.<%=currentStepAncestry%>').length > 0){
            
             $('ul.'+'<%=currentStepAncestry%>').append("<li class= '<%= currentStep.id %>'> <%= currentStep.name %></li>");
          }
          else{
            // console.log("first step with this ancestry");
    			   $('li.'+'<%=currentStepAncestry%>').append("<ul class= '<%= currentStepAncestry %>'><li class= '<%=currentStep.id %>'>  <%= currentStep.name %></li></ul>");
          }
    		</script>	
      <% else %>
          <% currentStepAncestry = getParent(currentStepAncestry)%>
        	<script type="text/javascript">
            // console.log("returned to existing branch");
            $('ul.'+'<%=currentStepAncestry%>').append("<li class= '<%= currentStep.id %>'> <%= currentStep.name %></li>");
        </script> 	
      <% end %>
	<% end %>
  <script type="text/javascript">
    // add "last" id to the last step
    if(lastStepReached){
      // console.log("adding last step id");
      $('li.'+'<%=currentStep.id%>').attr("id", "last");
    }
    if(has_question){
      $('li.'+'<%=currentStep.id%>').addClass("question");
    }
    if(is_label){
     $('li.'+'<%=currentStep.id%>').addClass("branch_label");
     $('li.'+'<%=currentStep.id%>').attr('data-label-color', "<%=currentStep.label_color%>");
    }
    if(has_pin){
      $('li.'+"<%=currentStep.id%>").attr('data-pin', pin_type);
      $('li.'+"<%=currentStep.id%>").addClass('pin');
    }
  </script>

  <% # add the image path of the step's default image for previews%>
  <% if (currentStep.images.count > 0) %>
      <% if !currentStep.first_image.is_remix_image? %>
          <% # set the default image to the step's first image %>
          <% if currentStep.first_image.image_path.blank? %>
            <% # reference newly uploaded image %>
              <script type="text/javascript">
              var id = <%=currentStep.id%>;
              $('li.'+id).attr("data-image", "<%=currentStep.first_image.s3_filepath%>");
               if("<%=currentStep.first_image.rotation%>".length>0){
                $('li.'+id).attr('data-rotation', "<%=currentStep.first_image.rotation%>");  
              }
            </script>
          <% else %>
            <script type="text/javascript">
              var id = <%=currentStep.id%>;
              $('li.'+id).attr("data-image", "<%=currentStep.first_image.image_path_url(:square_thumb)%>");
            </script>
          <% end %>
      <% elsif !currentStep.first_image.original_image.blank? %>
        <% # get the remix image %>
          <script type="text/javascript">
            var id = <%=currentStep.id%>;
             $('li.'+id).attr("data-image", "<%=Image.find(currentStep.first_image.original_id).image_path_url(:square_thumb)%>");
          </script>
      <% end %>
  <% end %>
  
<% end %>

<script>
/**
 * jQuery org-chart/tree plugin.
 *
 * Author: Wes Nolte
 * http://twitter.com/wesnolte
 *
 * Based on the work of Mark Lee
 * http://www.capricasoftware.co.uk 
 *
 * Copyright (c) 2011 Wesley Nolte
 * Dual licensed under the MIT and GPL licenses.
 *
 */
(function($) {

  var newStepDropped = false; // boolean to store the state of the 'Add new step' box

  $.fn.jOrgChart = function(options) {
    
    var opts = $.extend({}, $.fn.jOrgChart.defaults, options);
    var $appendTo = $(opts.chartElement);

    // build the tree
    $this = $(this);   
    var $container = $("<div class='" + opts.chartClass + "'/>");
    if($this.is("ul")) {
      buildNode($this.find("li:first"), $container, 0, opts);
    }
    else if($this.is("li")) {
      buildNode($this, $container, 0, opts);
    }

    $appendTo.append($container);

    // add drag and drop if enabled
    if(opts.dragAndDrop){
      // console.log('enabling drag and drop');
        $('.stepNode').draggable({
            cursor      : 'move',
            distance    : 20,
            helper      : 'clone',
            opacity     : 0.8,
            revert      : 'invalid',
            revertDuration : 100,
            snap        : '.stepNode.expanded',
            snapMode    : 'inner',
            stack       : '.stepNode',
            zIndex      : 100
        });
        
        $('.stepNode').droppable({
            accept      : '.stepNode',          
            activeClass : 'drag-active',
            hoverClass  : 'drop-hover'
        });

      $('.stepNode.newStep').droppable('option', 'disabled', true);
        
      // Drag start event handler for nodes
      $('.stepNode').bind("dragstart", function handleDragStart( event, ui ){

        $('.stepInfo').hide();
        $('.fa-angle-double-up').addClass('fa-angle-double-down').removeClass('fa-angle-double-up');
        if($('#projectInfoContainer').css('display')!="none"){
          minimized = true;
          hideInfo();
        }

        // console.log('started dragging step');
        var sourceNode = $(this);
        // console.log('disabling ' +   sourceNode.parentsUntil('.node-container').find('*').filter('.stepNode:data(ui-draggable)').length + ' steps');
        sourceNode.parentsUntil('.node-container')
                   .find('*')
                   .filter('.stepNode:data(ui-draggable)')
                   .droppable('disable');
      });

      // Drag stop event handler for nodes
      $('.stepNode').bind("dragstop", function handleDragStop( event, ui ){
        // console.log('dragstop stepnode');
        
        /* reload the plugin */
        $(opts.chartElement).children().remove();
        $this.jOrgChart(opts);  
        $('.stepLabel').ellipsis();    
        window.dragging = false;

        if($('#projectInfoContainer').length == 0 && zoom != 1 && !newMode){
          // console.log('setting parameters for mobile view');
            // resize stepNodes and stepLabels based on zoom level in mobile view
            $('.stepNode').css('width', minNodeWidth*zoom);
            $('.stepNode').not('.branch_label').css('height', minNodeHeight*zoom);
            $('.stepLabel').css('font-size', font_size);
            $('.stepLabel').css('line-height', font_size+"px");
            $('.stepNode').css('border-width', parseInt($('.stepNode').css('border-width'))*zoom*1.5);

        }
        if($('#mobileProcessMap').length > 0){
              if($('#chart').height() < $(window).height()){
                  $('#chart').css('height', $(window).height());
                }else{
                  $('#chart').css('height', '');
                }
        }
      });
    
      // Drop event handler for nodes
      $('.stepNode').bind("drop", function handleDropEvent( event, ui ) {
        // console.log('drop stepnode');

        var targetID = $(this).data("tree-node");
        var targetLi = $this.find("li").filter(function() { return $(this).data("tree-node") === targetID; } );
        var targetUl = targetLi.children('ul');
        var targetStepID = targetLi.attr('class');
    
        var sourceID = ui.draggable.data("tree-node");    
        var sourceLi = $this.find("li").filter(function() { return $(this).data("tree-node") === sourceID; } );   
        var sourceUl = sourceLi.parent('ul');
        var droppedStepID = sourceLi.attr('class');

        if (targetUl.length > 0){
          targetUl.append(sourceLi);
        } else {
          targetLi.append("<ul class=" + targetLi.attr("class") + "></ul>");
          targetLi.children('ul').append(sourceLi);
        }

        //Removes any empty lists
        if (sourceUl.children().length === 0){
          sourceUl.remove();
        }

        if(targetLi.attr("class")==firstStepID){
          // console.log("*************** Dropped on project overview ***************");
          // console.log("sourceStep: " + sourceLi.attr("class"));
          // console.log("number of lis: " + parseInt($('li.'+sourceLi.attr("class")).length));
          var numLi = $('li.'+sourceLi.attr("class")).length
          for(var k = 1; k < numLi; k++){
            // console.log("k: " + k);
            $('li.'+sourceLi.attr("class")+":last").remove();
          }
        }

        // check if the 'Add New Step' box was dropped onto the process map
        if($(ui.draggable).hasClass('newStep')){
          // console.log("dropped new step");
          newStepDropped = true;

          var is_label = $('.stepNode.newStep').hasClass('branch_label');

          if (is_label){
            $('.stepNode.newStep').addClass('branch_label');
          }              

          // console.log('newStepParentID before: ' + newStepParentID);
          var parentStep = parseInt($('li.newStep').parent('ul').parent('li').attr("class"));
          newStepParentID = parentStep;
          // console.log('newStepParentID after: ' + newStepParentID);

          // reload the process map
          loadProcessMap();

          // set the parent id value for the new step
          $('#step_parent_id').val(newStepParentID);

          // set the position value for the new step
          $('#step_position').val(position('newStep'));

        }
        else{
          // only save reordering if we're not editing / creating a new step!
            if(indexMode || editMode || showMode){
              // show save and cancel buttons
              // $('#reorderButtons').show();
              // console.log("dropped step");
              reorderMode = true;
              $('.reorderIcon').attr('disabled', false);

              $('.undoIcon').removeClass('disabled');
              $('.undoIcon').unbind('click', false);

              // save new order
              saveOrdering();

                // if the ordering has changed, log it
                if(parseInt(<%=@project.steps.count%>) > 0 && stepsReordered()){
                   // console.log("LOGGING REORDERING");
                   $.ajax({
                    url: "/projects/"+<%=@project.id%>+"/log",
                    type: 'GET'
                  });
                }  
            }
        }
    
      }); // handleDropEvent
        
    } // Drag and drop

    // set background of divs to default step image
    setBackgrounds();

    // remove the extra table
    if(newStepDropped && !newProject && $('#newStepDiv').length != 0){
      $('table:last').remove();
    }

    // apply elipses to stepLabels with overflow
    $('.stepLabel:not(.branchStepLabel)').ellipsis();

    // add tall class to steplabels that are more than one line
    $('.stepLabel').each(function(){
      if($(this).height() > 15 && $(this).parent().css('background-image') != "none"){
        $(this).parent().addClass('tall');
      }else if($(this).parent().css('background-image') == "none" && !$(this).parent().hasClass('branch_label')){
        $(this).parent().addClass('short');
      }
    });

    if(firstLoaded){
      firstLoaded = false;
      saveOriginalOrder();
    }

    $(window).trigger("refresh");  

  };

  // Option defaults
  $.fn.jOrgChart.defaults = {
    chartElement : 'body',
    depth      : -1,
    chartClass : "jOrgChart",
    dragAndDrop: false
  };
  
  var nodeCount = 0;
  
  // Method that recursively builds the tree
  function buildNode($node, $appendTo, level, opts) {
    var $table = $("<table cellpadding='0' cellspacing='0' border='0'/>");
    var $tbody = $("<tbody/>");

    // Construct the node container(s)
    var $nodeRow = $("<tr/>").addClass("node-cells");
    var $nodeCell = $("<td/>").addClass("node-cell").attr("colspan", 2);
    var $childNodes = $node.children("ul:first").children("li");
    var $nodeDiv;
    
    if($childNodes.length > 1) {
      $nodeCell.attr("colspan", $childNodes.length * 2);
    }

    // Draw the node
    // Get the contents - any markup except li and ul allowed
    var $nodeContent = $node.clone()
                            .children("ul,li")
                            .remove()
                            .end()
                            .html();

    //console.log("nodeContent: " + $nodeContent.trim());

    var stepID = $node.clone().attr("class");
    var lastID = $node.clone().attr("id");
     if($node.data("rotation")){
      var rotation = $node.data('rotation');  
    }else{
      var rotation = undefined;
    }
    var image_path = $node.data("image");
    var parent = $node.data("parent");
    var label_color = $node.data('label-color');
    var pin_type = $node.data('pin');
    // console.log('pin_type: ' + pin_type);
  
    // console.log("lastID: " + lastID);
      //Increaments the node count which is used to link the source list and the org chart
    nodeCount++;
    $node.data("tree-node", nodeCount);
    $node.data("image", image_path);
    if(label_color){
      // remove title and add branchStepLabel class to branch labels
         $nodeDiv = $("<p>").addClass("stepNode")
                                     .addClass(stepID)
                                     .data("image", image_path)
                                     .data("tree-node", nodeCount) 
                                     .data("parent", parent)
                                     .attr('data-label-color', label_color)
                                     .append("<p class='stepLabel branchStepLabel'>" + $nodeContent + "</p>");
    
    }else if(pin_type){
      // console.log('adding pin type ' + pin_type);
       $nodeDiv = $("<p>").addClass("stepNode")
                                     .addClass(stepID)
                                     .addClass('step_'+stepID)
                                     .attr("title", $nodeContent)
                                     .data("image", image_path)
                                     .data('rotation', rotation)
                                     .data("tree-node", nodeCount) 
                                     .data("parent", parent)
                                     .attr("data-pin", pin_type)
                                     .append("<p class='stepLabel'>" + $nodeContent + "</p>");

    }else{
        $nodeDiv = $("<p>").addClass("stepNode")
                                     .addClass(stepID)
                                     .addClass('step_'+stepID)
                                     .attr("title", $nodeContent)
                                     .data("image", image_path)
                                     .data('rotation', rotation)
                                     .data("tree-node", nodeCount) 
                                     .data("parent", parent)
                                     .append("<p class='stepLabel'>" + $nodeContent + "</p>");
    }
    
    if(lastID=="last"){
      $nodeDiv.append("<div class='ribbon-wrapper'><div class='ribbon'>built!</div></div>")
    }

    $nodeCell.append($nodeDiv);
    $nodeRow.append($nodeCell);
    $tbody.append($nodeRow);

    if($childNodes.length > 0) {
    
      // recurse until leaves found (-1) or to the level specified
      if(opts.depth == -1 || (level+1 < opts.depth)) { 
        var $downLineRow = $("<tr/>");
        var $downLineCell = $("<td/>").attr("colspan", $childNodes.length*2);
        $downLineRow.append($downLineCell);
        
        // draw the connecting line from the parent node to the horizontal line 
        $downLine = $("<div></div>").addClass("line down");
        $downLineCell.append($downLine);
        $tbody.append($downLineRow);

        // Draw the horizontal lines
        var $linesRow = $("<tr/>");
        if($childNodes.length>1){
          $childNodes.each(function() {
            var $left = $("<td>&nbsp;</td>").addClass("line left top");
            var $right = $("<td>&nbsp;</td>").addClass("line right top");
            $linesRow.append($left).append($right);
          });
        }

        //horizontal line shouldn't extend beyond the first and last child branches
        $linesRow.find("td:first")
                    .removeClass("top")

                 .end()
                 .find("td:last")
                    .removeClass("top")

        $tbody.append($linesRow);
        var $childNodesRow = $("<tr/>");

        $childNodes.each(function() {
           var $td = $("<td class='node-container'/>");
           $td.attr("colspan", 2);
           // recurse through children lists and items
           buildNode($(this), $td, level+1, opts);
           $childNodesRow.append($td);
        });

      }
      $tbody.append($childNodesRow);
    }

    $table.append($tbody);
    $appendTo.append($table);
    
  };

})(jQuery);

</script>
