<div id="nav" width="50px">
  <!--First step: right arrow only-->
  <% if steps.count > 1 %>
    <% if step.position == 0%>
      <%=link_to image_tag("right_arrow.png", :size => '20x20'), project_step_path(project, step.position+1) %>
    <!-- Last step: left arrow only -->
    <% elsif step.position == project.steps.count-1 %>
      <%=link_to image_tag("left_arrow.png", :size => "20x20"), project_step_path(project, step.position-1) %>
      <%=image_tag("right_arrow_light.png", :size => "20x20")%>
    <!--All other steps: left + right arrow-->
    <% else %>
      <%=link_to image_tag("left_arrow.png", :size => "20x20"), project_step_path(project, step.position-1) %>
      <%=link_to image_tag("right_arrow.png", :size => "20x20"), project_step_path(project, step.position+1) %>
    <%end%>
    <%end%>
</div>