<div class="fullRow" style="width:940px">
    
 	<%= render :partial => 'images/project_overview_image_gallery', :locals => {:source => "edit"} %>

	<div id="processMap">
    	<%= render :partial => 'process_map', :locals=> {:source=> "edit"} %>
    </div>
    
	<div class="processBlog">
		 <div class = "detailViewHandle stepFormHandle"><icon class="fa fa-chevron-right" style="margin-left: 3px; font-size: 23px;"></i><icon class="fa fa-file-text" style="display: block; margin-top: 6px; font-size: 24px; margin-left: 1px;"></i></div>
		<%= render :partial => 'step_form', :locals => {:source => "edit"} %>
	</div>

</div>

<script type="text/javascript">

	$(document).ready(function(){
		var stepID = "<%=@step.id%>";
	    $('.stepNode.'+stepID).css("border", "3px solid #FFFF00");

	    // hide footer
        $('#footer').hide();

	});

	$(window).bind("refresh", function(){
		var stepID = "<%=@step.id%>";
	    $('.stepNode.'+stepID).css("border", "3px solid #FFFF00");
	});
	
</script>