<style>
body{
    overflow: hidden;
  }
</style>

<% title "#{@step.name} in #{@project.title}" %>
<div class="fullRow">

	<div id="processMap">
      <%= render :partial => 'process_map', :locals=> {:source=>"edit"} %>
 	</div>

	<div class="processBlog edit" id ="infoContainer">
		<%= render :partial => 'step_form', :locals => {:source => "edit"} %>
	</div>

</div>

<!-- the video embed modal form -->
<%= render :partial => 'steps/video' %>

<!-- editing conflict modal -->
<%= render :partial => "editing_conflict_modal" %>

<script type="text/javascript">
	var stepID = parseInt("<%=@step.id%>");
	
	$(document).ready(function(){

		lazyContainer($('.mainPhoto')); // lazy load content

		setProcessMapSize();

		moveMap($('.stepNode.'+stepID));
				
		$('.stepNode.'+stepID).addClass('currentStepNode');
		$('.stepNode:not(.'+stepID+')').css('opacity', 0.5);

	    // hide footer
	    $('#footer').hide();

	    // load carousels
        loadCarousels("edit");

       	$('.thumbGallery').on('click', '.image', function(){
			setCarousel(getImageID($(this).attr('id')));
		});

		$('.carousel').bind('slid', function(){
 			var step_carousel = $('.mainPhoto:not(.projectOverviewCarousel)');
 			if(step_carousel.find('.item.active').length == 0){
                step_carousel.find('.item').first().addClass('active');
              }
      	});

	});

	$(window).bind("refresh", function(){
	    $('.stepNode.'+stepID).css("border", "3px solid #FFFF00");
	});

	$(window).resize(function(){
		setProcessMapSize();
	});
	
</script>