<% title "#{@step.name} from #{@project.title}" %>
<style type="text/css">
#loading {display: block;}
</style>

<div class="fullRow" style="width:940px">
      <%= render :partial => 'images/project_overview_image_gallery', :locals => {:source => 'show'} %>

      <% if @authorLoggedIn %>
        <!-- project info modals -->
        <%= render :partial => "steps/edit_collaborators" %>
        <%= render :partial => "steps/edit_categories" %>
        <%= render :partial => "steps/share_project" %>
      <% end %>

      <div id="processMap">
        <%= render :partial => 'process_map', :locals=> { :currentStep => @step, :project => @project, :steps => @project.steps, :source=>"show"} %>
      </div>

      <div class="processBlog">
          <div class="stepDetailView">
            <% # Add the Detail View%>  
            <%= render :partial=> 'step_detail_view', :locals=>{:step=>@step} %>
          </div>
    </div>

  <% # add sign in modal %>
  <%= render :partial=> "sign_in" %>
</div>

<script type="text/javascript">

    // edit the title of the project
    $('.editProjectTitleBtn').click(function(){
       $('.favoriteStar').hide();
      console.log("clicked editProjectTitle button");
        $.ajax({
            url: "/projects/editTitle",
            type: 'GET',
            data: {projectID: "<%=@project.id%>"} 
      });
    });

    // edit the step
    $('.editButton').click(function(){
      editButton = $(this);
      // go to edit_redirect
       $.ajax({
          url: "/projects/<%=@project.id%>/steps/edit_redirect",
          type: 'GET',
          data: {stepID: getClassID('edit', $(this).attr('id'))} ,
          success: function(data, status, xhr){
            // console.log('data: ' + data);
            if(data.indexOf("window.location")==-1){            
              console.log('creating modal');
              $('#editing_conflict_modal .modal-body').append('User <strong>' + data+'</strong> is currently editing this step.  Are you sure you want to continue?');
              $('#editing_conflict_modal').modal('show');
            }
          }
          
         });
    });
    
      $(document).ready(function() {

        // hide footer 
        $('#footer').hide();

        loadCarousels("index");

        $('.content').css("height", "100%");

        // scroll to bottom to show form full screen
        window.scrollTo(0,document.body.scrollHeight);

        $(window).load(function(){
          var stepID = "<%=@step.id%>";
            $('.stepNode.'+stepID).css("border", "3px solid #FFFF00");
            $('.stepNode:not(.'+stepID+'):not(.branch_label)').css('opacity', 0.5);
            $('.stepNode.branch_label').css('opacity', 1.0);
        });

        $(window).bind("refresh", function(){
          var stepID = "<%=@step.id%>";
            $('.stepNode.'+stepID).css("border", "3px solid #FFFF00");
        });

        // disable undo button 
      $('.undoIcon').bind('click', false);

      });
    </script>