<% # Comment Create Public Activity %>

<% source = params[:source] %>
<% # div containing comment %>
<% comment = activity.trackable %>

<% if comment %>
	<% comment_id = "comment_" + comment.id.to_s %>
	<% notification_id = "notification_" + activity.id.to_s + " notification_link" %>
	<% step = activity.trackable.commentable %>
	<% if step %>
		<% # div with all the comments in a step (for accordion) %>
		<% project = activity.trackable.commentable.project %>
		<% if project %>
			<% if source == "navbar" %>
				<%= link_to project_steps_path(project, :step => activity.trackable.commentable.id, :comment_id => activity.trackable.id, :notification_id => activity.id) do %>
					<icon class="fa fa-comment"></icon>
					<p class="notification-image">
						<%= render :partial=>"images/navbar_image", :locals=> {:activity => activity} %>
					</p>
					<p class="notification-text">
						<% if activity.is_followed_comment? %>
							<span class="notification-bold"><%= activity.owner.username if activity.owner %></span> also commented on <span class="notification-bold"><%= project.title %> </span>
						<% else %>
							<span class="notification-bold"><%= activity.owner.username if activity.owner %></span> commented on <span class="notification-bold"><%= project.title %> </span>
						<% end %>
					</p>
					<br>
					<p class="notification-date" style="display:inline-block"><%= time_ago_in_words(activity.created_at) %> ago</p>
				<% end %>
			<% else %>
				<icon class="fa fa-comment"></icon>
					<p class="notification-image">
						<% if !activity.owner.avatar.blank? %>
							<%= link_to image_tag(activity.owner.avatar_url(:thumb), :class=>"img-rounded"), project_steps_path(project, :step => activity.trackable.commentable.id, :comment_id => activity.trackable.id, :notification_id => activity.id) %>
						<% else %>
							<%= link_to image_tag("default_avatar.png", :class=>"img-rounded"), user_path(activity.owner) %>
						<% end %>
					</p>

						<p class="notification-heading">
							<% if activity.is_followed_comment? %>
								<%= link_to activity.owner.username, user_path(activity.owner) if activity.owner %> also commented on <%= link_to step.name, project_steps_path(project, :step => activity.trackable.commentable.id, :comment_id => activity.trackable.id, :notification_id => activity.id), :class=> notification_id %> of <%= link_to project.title, project_steps_path(project), :class=> notification_id   %> 
							<% else %>
								<%= link_to activity.owner.username, user_path(activity.owner) if activity.owner %>	commented on <%= link_to step.name, project_steps_path(project, :step => activity.trackable.commentable.id, :comment_id => activity.trackable.id, :notification_id => activity.id), :class=> notification_id %> of <%= link_to project.title, project_steps_path(project), :class=> notification_id   %> 
							<% end %>

						</p>
						<p class="notification-comment">
							<%= link_to activity.trackable.body, project_steps_path(project, :step => activity.trackable.commentable.id, :comment_id => activity.trackable.id, :notification_id => activity.id) %>
						</p>

					<p class="notification-date"><%= time_ago_in_words(activity.created_at).gsub('about', '') %> ago</p>
			<% end %>
		<% end %>
	<% end %>
<% end %>


