<% if false %>
<%= semantic_form_for @image, :html => {:class=>'form-hroizontal'} do |f| %>
  
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= image_tag @image.image_path, :class=>"span7 photo"%>
  </div>

    <div class="control-group">
    <%= f.label "Project", :class => 'control-label' %>
    <div class="controls">
      <%= f.input :project, :collection => Project.all, :label => false %>
    </div>
  </div>

    <div class="control-group">
    <%= f.label "Step", :class => 'control-label' %>
    <div class="controls">
      <%= f.input :step, :collection => Step.where(:project_id => "1"), :label=> false %>
    </div>
  </div>
  
    <div class="control-group">
    <%= f.label "File Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_path, :class => 'text_field' %>
    </div>
  </div>

   <div class="control-group">
    <div class="controls">
     <%= f.file_field :image_path %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Caption" %>
    <div class="controls">
    <%= f.text_field :caption, :html => {:style=>"align:right"}%>
      </div>
    </div>

  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                images_path, :class => 'btn' %>
    <%= f.submit nil, :class=>"btn btn-primary" %>
  </div>

<% end %>
<% end %>