<div class="projectOverviewPhoto" >
    <div class="mainPhoto slide projectOverviewCarousel" id="carousel-<%=@project.id%>">
    
    <div id="carouselNavIcons">
      <% # button for restarting the carousel from the beginning %>
      <%= link_to "", "#", :class=>"restart fa fa-rotate-left"%>
      <% # button for pausing / continuing the carousel %>
      <%= link_to "", "#", :class=> "play_pause fa fa-pause"%>
    </div>

        <div class="carousel-inner <%=@project.id%>"></div>
        <%# carousel controls %>
           <a class="carousel-control left" href="#carousel-<%=@project.id%>" data-slide="prev">&lsaquo;</a>
           <a class="carousel-control right" href="#carousel-<%=@project.id%>" data-slide="next">&rsaquo;</a>
    </div>

    <div class="container">
        <%= render :partial => 'project_title', :locals=> {:project => @project, :authorLoggedIn =>(user_signed_in? && @project.users.include?(current_user)) , :source=>"index"} %>
    </div>

  </div>

  <% # hide carousel controls if there are no images in the project %>
  <% if @project.photo_images_count < 2 %>
    <script type="text/javascript">
      // console.log('hiding carousel nav icons');
      $('#carouselNavIcons').hide();
      $('.projectOverviewCarousel .carousel-control').hide();
    </script>
  <% end %>

<% image_project_id = @project.id %>
<% all_images = [] %>

  <% # first, add all images from the last step of the project %>
  <% if !@project.last_step_with_images.blank? %>
    <% last_step_with_images_id = @project.last_step_with_images.id %>
      <% @project.last_step_with_images.images.order(:position).each do |image| %>
        <% if !image.has_video? && !image.has_sound? %>
          <% all_images.push(image) %>
        <% end %>
      <% end %>

      <% # next, all all other images from the project ordered chronological in ascending order %>
      <% @project.steps.where("id != ? ", last_step_with_images_id ).order(:published_on).each do |step| %>
        <% step.images.order(:position).each do |image| %>
          <% if !image.has_video? && !image.has_sound? %>
            <% all_images.push(image) %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

<% image_project_id = @project.id %>

  <% all_images.each_with_index do |image, index| %>
    <% remix = false %>

    <% active = "" %> <%# stores whether or not image is active or first in carousel %>
    <% if index==0 %>
      <% active = "active" %>
    <% end %>
    
    <% image_record = image %>

    <% # check if the image is from a remix %>
    <% if image.is_remix_image? && !image.original_image.blank? %>
      <%# draw the original asset %>
      <% remix = true %>
      <% image = image.original_image %>
    <% end %>

    <% if image.image_path? %>
      <% # add already uploaded image to carousel %>
        <script type="text/javascript">
           $('.carousel-inner.<%=image_project_id%>').append('<div class="item <%=active%>"><a class="fancybox" href="<%=image.image_path_url%>" rel="gallery <%=image_project_id%>" data-fancybox-type="image"> <%=image_tag(image.image_path_url(:preview), :width => "100%", :class=> image_record.id) %></a><div class="image_caption">from <%= link_to_function image_record.step.name, "goToStep(\"#{image_record.step.id}\");" %></div></div>');
         </script>
      <% else %>
        <% # add placeholder s3 direct upload image %>
        <script type="text/javascript">
           $('.carousel-inner.<%=image_project_id%>').append('<div class="item <%=active%>"><a class="fancybox" href="<%=image.s3_filepath%>" rel="gallery <%=image_project_id%>" data-fancybox-type="image"> <%=image_tag(image.s3_filepath, :width => "100%", :class=> image_record.id) %></a><div class="image_caption">from <%= link_to_function image_record.step.name, "goToStep(\"#{image_record.step.id}\");" %></div></div>');
         </script>
      <% end %>

  <% end %>


<% # add attribution to all remix images %>
<% if false %>
  <% all_images.each do |image| %>
    <% if image.is_remix_image? %>
    <% original_project = Image.find(image.original_image.id).project %>
    <script type="text/javascript">
      var image_id = parseInt("<%= image.id %>");
      var project_overview = true;
      remix_caption(image_id, project_overview, "<%=project_path(original_project)%>", "<%=original_project.title%>", "<%=user_path(original_project.user)%>", "<%=image.author%>");
    </script>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){

  // only cycle the carousel if on the index page - otherwise, don't start the carousel and set the icon to play
  if("<%=source%>"=="index" && parseInt("<%=@project.photo_images_count%>")>1){
    $('.projectOverviewCarousel').carousel();    
  } else{
    $('.play_pause').removeClass('fa fa-pause');
    $('.play_pause').addClass('fa fa-play');
  }

   $('.projectOverviewCarousel').on('slide', function(){
      reset_video_masks($(this));
    });

    $('.projectOverviewCarousel').on('slid', function(){
        stopHTMLVideo($(this));
        stopVimeo($(this));
        stopSoundcloud($(this));
    });

    $('.restart').click(function(){
        // start over project overview carousel slideshow
        $('.projectOverviewCarousel').carousel(0);
    });

    $('.projectOverviewCarousel .video_mask').click(function(){
        console.log('clicked video mask');
        trigger_video_mask($(this));
    });

    
    $('.play_pause').click(function(){
        if($(this).hasClass('fa fa-pause')){
          $('.projectOverviewCarousel').carousel('pause');
          $(this).removeClass('fa fa-pause');
          $(this).addClass('fa fa-play');
        }else if($(this).hasClass('fa fa-play')){
          $('.projectOverviewCarousel').carousel('cycle');
          $(this).removeClass('fa fa-play');
          $(this).addClass('fa fa-pause');
        }
    });

});

</script>