<!DOCTYPE html>

<html>
<head>
	<% if content_for?(:title) %>
		<title><%= yield(:title) %></title>
	<% else %>
		<title><%= ENV["APP_NAME"] %></title>
	<% end %>

	<% if content_for(:metatags) %>
		<%= yield (:metatags) %>
	<% end %>

	<script type="text/javascript">
		var CKEDITOR_BASEPATH = '/assets/ckeditor/';
	</script>  
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  
  <%= yield :metatags %>
  
  <%= stylesheet_link_tag "application-all", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>

   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>

   <meta name="google-site-verification" content="ypAQvrj8z2CCvx1iEyWt-x4KVNs9hNYXzds301B95OE" />


</head>

<script type="text/javascript">
$(function(){
	// Sets up drop down menu
	$('.dropdown-toggle').dropdown();

	$('.dropdown-toggle').click(function(){
		// add ellipsis to notifications that overflow
		$('.notification-text').each(function(){
  			$(this).ellipsis();
  		});
	});

	//Fixes input element clicking problem
	$('.dropdown input, .dropdown label').click(function(e){
		e.stopPropagation();
	});
});
</script>

<body>
	<div class ="navbar">

		<%= link_to image_tag("default_collection.png"), home_index_path, :class=> "brand logo" %>
			
			<ul class="nav">
				<li><%=link_to "Projects", projects_path %></li>
				<li><%=link_to "Collections", collections_path %></li>
				<li style="margin-left: 20px;">
					<%= form_tag search_path, :method => 'get', :class => 'navbar-search' do %>
					  <p>
					    <%= text_field_tag :search, params[:search], :class => 'search-query', :placeholder => 'Search', :maxlength => 25 %>
					    <a class="search-submit"><icon class="fa fa-search" style="margin-left: -22px; color:gray;"></icon></a>
					  </p>
					<% end %>
				</li>	
			</ul>	
			
			<ul class="pull-right nav" style="margin-left: -1px">
				<li class = "dropdown pull-right navbar_notification">
					<% if user_signed_in? %>

					<% # notifications %>

					  <a href ="#" class="dropdown-toggle navbar_notification_link" data-toggle="dropdown"><icon class="fa fa-bell-o" style="font-size:17px; padding-top: 3px;"></icon></a>	

					  <% # highlight the notification icon if the user has unseen notifications %>
					  <% if current_user.all_new_notifications.count > 0 %>
						  <script type="text/javascript">
						  	$('.fa-bell').addClass('active');

						  	$('.navbar_notification_link').append('<span class="badge badge-warning"><%=current_user.all_new_notifications.count%>');
						  </script>
					   <% end %>

					   <% if current_user.all_notifications.count > 0 %>
						  <ul class="dropdown-menu" role="menu">
						  	<li class="notification-label">Notifications</b></li>
						  	<%= render :partial=> "users/notification.html.erb" %>
						  </ul>
						<% else %>
						<script type="text/javascript">
							$('.navbar_notification_link').click(function(){						
  									window.location.href="<%=notifications_path%>";
  							});
						</script>
					  <% end %>
										   	  
					  <% # user profile + account settings %>
					  <li class="navbar_login dropdown">		
						<a href="#" class = "dropdown-toggle" data-toggle="dropdown" style="font-weight: bold; height: 20px;"%> 
							<% if current_user.avatar.present? %>
								<%=image_tag(current_user.avatar_url(:thumb), :class=>"img-rounded avatar") %>
							<% else %>
								<%= image_tag("default_avatar.png", :class=>"img-rounded avatar") %>
							<% end %>
							<%= current_user.username %> 

							<icon class="fa fa-sort-down" style="position: relative; top: -2px"></icon></a>
						<ul class="dropdown-menu">
							<li><%=link_to "My Portfolio", user_path(current_user.username) %></li>
							<li class="divider"></li>
							<li><%=link_to "Create Project", new_project_path %></li>
							<li><%=link_to "Create Collection", new_collection_path %> </li>
							<li class="divider"></li>
							<li><%=link_to "Account Settings", edit_user_registration_path %></li>
						</ul>

						<% # logout %>
					 	<li style="padding-top: 1.3px;"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					 </li>
					 
					 <% else %>
						<ul class="nav pull-right">
							<li><%= link_to 'Sign Up', new_registration_path(resource_name) %> </li>
						    <li class="dropdown"><a class="dropdown-toggle" href = "#" data-toggle="dropdown>">Sign In</a>
								<div class= "dropdown-menu" style="padding:15px">
								<%= semantic_form_for("user", :url => user_session_path, :html => {:class => "loginForm"})  do |f| %>
								  <%= f.label :username, :class=>"smallLabel" %>	
								  <%= f.text_field :username, :value=>"" %>
								  <%= f.label :password, :class=>"smallLabel", :style=>"margin-top: 5px;" %>	
								  <%= f.password_field :password %>
								  <div class="rememberMeContainer">
									  <%= f.check_box :remember_me, :class=>"rememberMeCheck" %>
									  <%= f.label "Remember me • ", :class=>"rememberMeLabel smallLabel" %>
									  <%= link_to "Forgot password?", new_password_path('user'), :class=>"pwForgot" %>
								  </div>
								  <div class="clear"></div>
									<div class="loginSignUp">
										<%= link_to image_tag("icons/google_icon.png", :style=> "max-height: 18px; padding: 2px;"), user_omniauth_authorize_path(:google_oauth2), :class=>"btn btn-mini", :style=> 'float: left; margin-left: 5px;', :title=>"Sign in with Google" %>
										 <%= f.submit 'Login', :class=>"login btn btn-small btn-primary" %>
									</div>
								<% end %>
							</div>
						</li>
					</ul>
				<% end %>
			 	</li>
			</ul>
	</div>

<div id="loading">
  <%= image_tag("icons/loading.gif") %>
</div>

	<div id="main">
		<% if controller_name != 'steps' %>
		  <% flash.each do |name, msg| %>
		    <% if name != "timedout" %>
		    	<%= content_tag :div, msg, id: "flash_#{name}" %>
		    <% end %>
		  <% end %>
	  <div class="clear"></div>
	  <% end %>
	  <%= yield %>
	</div>

	<div class="clear"></div>
	<div id="footer">
		<div class="footer_container">
			<%= link_to "About", about_path %>   |   <%= link_to "News", news_path %>   |   <%= link_to "Help", help_path %>   |    <%= link_to "Privacy Policy", privacy_policy_path %>   |   <%= link_to "Contact", contact_path %>
		</div>
		<br>
		<div class="attribution" style="font-size: smaller; color: grey; margin-top: 10px;">Powered by Build in Progress</div>
	</div>

</body>
</html>

<% # add a notice for users to create password to use android app (if they don't already have a password for their account %>

<% if current_page?(root_url) && user_signed_in? && current_user.encrypted_password.blank? %>
	<script>
		var flash_notice = $('#flash_notice').html();
		$('#flash_notice').html(flash_notice+"<br><b>Note:</b> To use the Android or iOS app, please create a password for your account via <a href='users/edit/' style='text-decoration:underline'>Account Settings</a>");

	</script>
<% end %>

<script>

  // returns the ID of an element given the class / id of the page element (i.e., notification_30 will return 30)
  function getID(strings){
    var classes_array = strings.split(" ");
    for(var i =0; i<classes_array.length; i++){
      if(classes_array[i].match(/\d+/g)!=null){
        id = classes_array[i].match(/\d+/g)[0];
        return id;
      }
    }
  }

  $(window).load(function(){

  	// remove loading animation
  	if($('#loading').css('display')!='none'){
  		$('#loading').fadeOut(400, function(){
  		     $('#main').animate({opacity:1});
  		});
  	}else{
  		$('#main').css('opacity',1);
  	}

  	if($('#flash_notice').length>0){
		$('#main .fullRow').css('margin-top', 0);
  	}

  	$('.notification-text').each(function(){
  		$(this).ellipsis();
  	});
  }); // end window load

  $('.search-submit').click(function() {
  	if ($('input#search.search-query').val() != ""){
  		$('form').submit();
  	}
  });

  $('input#search.search-query').keypress(function(e) {
        if(e.which == 13) {
            if ($('input#search.search-query').val() == ""){
            	e.preventDefault();
		  	}
        }
    });
  
</script>
